@import url("scrolltable.css");
table.news,table.news-post,table.news-group{border-collapse:collapse;width:100%;vertical-align:middle;}
table.news-post thead tr,table.news-group thead tr{font-weight:bold;font-size:0.9525em;height:3.225em;padding:0.525em 0;background:#7D9AB6;}
table.news-post thead tr,table.news-group thead tr{background:linear-gradient(#7EB7BF 0%,#507279 100%);background:#538199;color:#fff;}
table.news-post thead tr th,table.news-group thead tr th{color:#fff;font-size:120%;}
table.news-group tbody tr,table.news-post tbody tr{background:#e8e8e8;line-height:1.5255em;padding:0.325em 0;}
table.news-post tbody tr:nth-child(odd){background:#FFFFFF;}
table.news-post tbody tr:hover{background:#FBFCE0;}
table.news-group tbody tr:nth-child(odd){background:#FFFFFF;}
table.news-group tbody tr:hover{background:#FBFCE0;}
table.news tbody td.setting_name{color:#0d4b6e;font-weight:bold;width:25%;padding-right:0.525em;text-align:right;vertical-align:top;}
table.news tbody tr{line-height:2.225em;}
table.news caption.news-header{margin:0 0 0.825em;line-height:2.225em;white-space:normal;}
table.news caption.news-header{background:#538199 none repeat scroll 0 0;color:#fff;font-size:1.425em;text-align:left;}
table.news caption.news-header{padding-left:1.125em;}
table.news tbody tr td.setting_value select{width:98.6%;}
th.action{width:4%!important;cursor:pointer;}
th.title{width:56%!important;cursor:pointer;}
th.group{width:24%!important;cursor:pointer;}
th.active{width:4%!important;cursor:pointer;}
th.status{width:6%!important;cursor:pointer;}
td.action{width:4%!important;}
td.title{width:50%!important;}
td.group{width:30%!important;}
td.active{width:4%!important;}
td.status{width:6%!important;}
tr.sectionrow{width:100%!important;line-height:1.25;}
colgroup.action{width:4%;}
colgroup.title{width:56%;}
colgroup.group{width:30%;}
colgroup.active{width:4%;}
colgroup.status{width:6%;}
.cursor-pointer { cursor: pointer; }