<div id="none18" class="section m_news ">

<script>
<!--
    var News = {
        WB_URL : "http://patch.wdsnet.de.local/wb",
        AddonUrl : "http://patch.wdsnet.de.local/wb/modules/news/",
        THEME_URL : "http://patch.wdsnet.de.local/wb/templates/DefaultNewTheme"
    };
-->
</script>
<div class="news-loop-header">        <div id="NL11" class="post-top">
            <div class="post-title"><a href="/wb/pages/posts/bsv-berg-im-gau-bc-aichach-20-11.php">BSV Berg im Gau - BC Aichach 2:0</a></div>
            <div class="post-date">09-12-2014, 8:49 PM</div>
        </div>
        <div>
            <div class="post-short"><img alt="" class="img-responsive" src="/wb/media/3bilder/wasserfall1-canada.jpg" style="float:left; height:75px; margin-left:10px; margin-right:10px; width:100px"><span style="font-size:14px">Der BSV Berg im Gau konnte am Sonntag beim Heimspiel gegen den BC Aichach einen 2 zu 0 Erfolg feiern. Bereits zu Beginn war den 200 Zuschauern klar, dass das Spiel bei strömenden Regen und dadurch sehr schwierigen Platzverhältnissen kein Leckerbissen sein wird.</span>
                <span style="visibility:visible;">
                  <a class="readmore" href="/wb/pages/posts/bsv-berg-im-gau-bc-aichach-20-11.php">Weiterlesen</a>
                </span>
           </div>
        </div>        <div id="NL12" class="post-top">
            <div class="post-title"><a href="/wb/pages/posts/tsv-poettmes-bsv-berg-im-gau-20-12.php">TSV Pöttmes - BSV Berg im Gau 2:0</a></div>
            <div class="post-date">10-05-2014, 11:42 AM</div>
        </div>
        <div>
            <div class="post-short">Der BSV Berg im Gau musste am Sonntag beim Gastspiel gegen den TSV Pöttmes die erste Saisonniederlage einstecken.
                <span style="visibility:visible;">
                  <a class="readmore" href="/wb/pages/posts/tsv-poettmes-bsv-berg-im-gau-20-12.php">Weiterlesen</a>
                </span>
           </div>
        </div>        <div id="NL13" class="post-top">
            <div class="post-title"><a href="/wb/pages/posts/sv-thierhaupten---bsv-berg-im-gau-22-13.php">SV Thierhaupten - BSV Berg im Gau 2:2</a></div>
            <div class="post-date">09-11-2014, 7:17 AM</div>
        </div>
        <div>
            <div class="post-short">
                <span style="visibility:visible;">
                  <a class="readmore" href="/wb/pages/posts/sv-thierhaupten---bsv-berg-im-gau-22-13.php">Weiterlesen</a>
                </span>
           </div>
        </div>        <div id="NL14" class="post-top">
            <div class="post-title"><a href="#" onclick="javascript:void(0);return false;" style="cursor:no-drop;">Werden Sie Schiedsrichter</a></div>
            <div class="post-date">09-13-2014, 8:33 AM</div>
        </div>
        <div>
            <div class="post-short"><div style="text-align: center;"><em>
<a href="http://patch.wdsnet.de.local/wb/media/Sonstiges/personalbogen%5B1%5D.pdf" target="_blank"><strong>Jetzt anmelden</strong></a>
</em><br>
<br>
<img alt="" src="/wb/media/Sonstiges/Bild.jpg" width="150" height="209"></div>

                <span style="visibility:hidden;">
                  <a class="readmore" href="#" onclick="javascript:void(0);return false;" style="cursor:no-drop;"></a>
                </span>
           </div>
        </div>        <div id="NL15" class="post-top">
            <div class="post-title"><a href="/wb/pages/posts/bsv-berg-im-gau---tsv-burgheim-22-373.php">BSV Berg im Gau - TSV Burgheim 2:2</a></div>
            <div class="post-date">09-15-2014, 7:05 AM</div>
        </div>
        <div>
            <div class="post-short">
                <span style="visibility:visible;">
                  <a class="readmore" href="/wb/pages/posts/bsv-berg-im-gau---tsv-burgheim-22-373.php">Weiterlesen</a>
                </span>
           </div>
        </div>
        <div class="news-container news-loop-footer" style="display: block">
              <div class="news-third news-left-align"><a class="news-prev" href="" style="visibility:hidden;">« vorherige Seite</a></div>
              <div class="news-third news-center">1-5 von 141</div>
              <div class="news-third news-right-align"><a class="news-next" href="/wb/pages/de/neuigkeiten.php?p=5" style="visibility:visible;">nächste Seite »</a></div>
        </div>
</div>
</div>